@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = Localizer["Manage.GenerateCodes.Title"].Value;
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3 class="mb-3 text-body-emphasis">@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <i class="bi bi-exclamation-triangle me-1" aria-hidden="true"></i>
        <strong>@Localizer["Manage.GenerateCodes.Save"]</strong>
    </p>
    <p>@Localizer["Manage.GenerateCodes.Body"]</p>
    <p class="mb-0">@Localizer["Manage.GenerateCodes.Body2"]</p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">@Localizer["Manage.GenerateCodes.Submit"]</button>
    </form>
</div>
