@page
@model ShowRecoveryCodesModel
@{
    ViewData["Title"] = Localizer["Manage.ShowCodes.Title"].Value;
    ViewData["ActivePage"] = "TwoFactorAuthentication";
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3 class="mb-3 text-body-emphasis">@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <strong>@Localizer["Manage.ShowCodes.Save"]</strong>
    </p>
    <p class="mb-0">@Localizer["Manage.ShowCodes.Body"]</p>
</div>
<div class="row">
    <div class="col-md-12">
        @for (var row = 0; row < Model.RecoveryCodes.Length; row += 2)
        {
            <code class="recovery-code">@Model.RecoveryCodes[row]</code>
            <text>&nbsp;</text>
            <code class="recovery-code">@Model.RecoveryCodes[row + 1]</code>
            <br />
        }
    </div>
</div>
