@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewBag.Title - Academia Auditiva</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css"
		integrity="sha512-Z/def5z5u2aR89OuzYcxmDJ0Bnd5V1cKqBEbvLOiUNWdg9PQeXVvXLI90SE4QOHGlfLqUnDNVAYyZi8UwUTmWQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
		integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- SweetAlert2 CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
	<!-- Custom -->
	<link href="~/css/site.css" rel="stylesheet" />
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">Academia Auditiva</a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
					aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="mainNavbar">
					@if (SignInManager.IsSignedIn(User))
					{
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link" asp-controller="Dashboard"
									asp-action="Index">@Localizer["Header.Dashboard"]</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" asp-controller="Exercise"
									asp-action="Index">@Localizer["Header.Exercise"]</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" asp-controller="Dashboard"
									asp-action="Index">@Localizer["Header.Games"]</a>
							</li>
						</ul>
					}

					<div class="d-flex ms-auto">
						@await Html.PartialAsync("_LoginPartial")
					</div>
				</div>
			</div>
		</nav>
	</header>

	<div class="container mt-4">
		@RenderBody()
	</div>

	<footer class="footer bg-dark text-white text-center py-3">
		<div class="row">
			<div class="col-md-9">
				&copy; @DateTime.Now.Year - Academia Auditiva
			</div>
			<div class="col-md-3 text-right">
				@await Html.PartialAsync("_SelectLanguagePartial")
			</div>
		</div>
	</footer>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
		integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"
		integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.min.js"
		integrity="sha512-fHY2UiQlipUq0dEabSM4s+phmn+bcxSYzXP4vAXItBvBHU7zAM/mkhCZjtBEIJexhOMzZbgFlPLuErlJF2b+0g=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<!-- SweetAlert2 JS -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	<!-- ToneJS -->
	<script src="~/js/tone.js"></script>
	<!-- Custom -->
	@* <script src="~/js/site.js?v=7"></script> *@
	<script src="/js/core/audio-engine.js?v=1.0.2"></script>
	<script src="/js/games/game-engine.js?v=1.0.2"></script>
	<script src="/js/main/academia-auditiva.js?v=1.0.2"></script>
	<script src="/js/AcademiaAuditiva.Filters.js?v=1.0.2"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>