@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Dashboard" asp-action="Index">@Localizer["Header.Dashboard"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Exercise" asp-action="Index">@Localizer["Header.Exercise"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Dashboard" asp-action="Index">@Localizer["Header.Games"]</a>
        </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" asp-page="/Account/Manage/Index" asp-area="Identity">@Localizer["Login.Hello"], @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form method="post" asp-page="/Account/Logout" asp-area="Identity">
                <button type="submit" class="nav-link btn btn-link text-white">@Localizer["Login.Logout"]</button>
            </form>
        </li>
    </ul>
}
else
{
    <ul></ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" asp-page="/Account/Register" asp-area="Identity">@Localizer["Login.Register"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="/Account/Login" asp-area="Identity">@Localizer["Login.Login"]</a>
        </li>
    </ul>
}
