<div class="bg-light rounded p-3 shadow-sm">
    <h6>@Localizer["Status"]</h6>
    <p>@Localizer["Score"]: <strong>@Model.Score</strong></p>
    <p>@Localizer["Attempts"]: <strong>@Model.Attempts</strong></p>
    <p>@Localizer["Time"]: <strong>@Model.TimeSpent</strong></p>
</div>