@{
    ViewBag.Title = "Exercícios";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h2 class="mb-5">Exercícios Disponíveis</h2>

            <ul class="list-group">
                <li class="list-group-item">
                    <a href="@Url.Action("GuessNote", "Exercise")" class="exercise-link">Adivinhe a Nota</a>
                </li>
                <li class="list-group-item">
                    <a href="@Url.Action("GuessChords", "Exercise")" class="exercise-link">Adivinhe o Acorde</a>
                </li>
                <li class="list-group-item">
                    <a href="@Url.Action("GuessInterval", "Exercise")" class="exercise-link">Adivinhe o Intervalo</a>
                </li>
                <li class="list-group-item">
                    <a href="@Url.Action("GuessQuality", "Exercise")" class="exercise-link">Adivinhe a Qualidade (Maior, Menor, Diminuto)</a>
                </li>
                <li class="list-group-item">
                    <a href="@Url.Action("GuessFunction", "Exercise")" class="exercise-link">Adivinhe a Função do Acorde</a>
                </li>
            </ul>
        </div>
    </div>
</div>
